<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exercises.javid.myHomework">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_redhat"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_redhat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".uis.InstagramActivity" />
        <activity android:name=".uis.ChatActivity" />
        <activity android:name=".uis.SMSActivity" />
        <activity android:name=".uis.CameraActivity" />
        <activity android:name=".uis.LoginActivity"></activity>
    </application>

</manifest>